<div class="page">

  <div>
    <img class="banner-image" src="https://cdn.pixabay.com/photo/2015/10/29/14/38/web-1012467_1280.jpg"/>
  </div>

<!--  <div class="promotional-container" style="margin-bottom: 4px;">-->
<!--    <div class="promotional-box"  style="margin-right: 2px;"></div>-->
<!--    <div class="promotional-box"  style="margin-left: 2px;"></div>-->
<!--  </div>-->
<!--  <div class="promotional-container" style="margin-top: 4px;">-->
<!--    <div class="promotional-box"  style="margin-right: 2px;"></div>-->
<!--    <div class="promotional-box"  style="margin-left: 2px;"></div>-->
<!--  </div>-->

  <app-product-list></app-product-list>

</div>




