<mat-drawer-container class="page">
  <mat-drawer opened class="menu-drawer" mode="side">
    <div style="display: flex">
      <img class="ic-logo" src="ic-logo.png"/>
    </div>


    <mat-card class="option-card" (click)="onOption('admin')">
      <mat-card-content>
        <p>Hello {{ usersService.getCurrentUser().name | titlecase }}</p>
      </mat-card-content>
    </mat-card>

    @for (option of options; track option) {
      <mat-card class="option-card" (click)="onOption(option)">
        <mat-card-content>
          <p>Admin {{ option | titlecase }}</p>
        </mat-card-content>
      </mat-card>
    }
  </mat-drawer>

  <div>
    @switch (currentView) {
      @case ('users') {
        <app-dashboard-users></app-dashboard-users>
      }
      @case ('products') {
        <app-dashboard-products></app-dashboard-products>
      }
      @case ('commands') {
        <app-dashboard-commands></app-dashboard-commands>
      }
      @default {
        <div class="no-option-div">

          <img class="icon" src="ic-dashboard.svg" alt="Dashboard icon"/>


          <p class="text">Please select an option from left side</p>
        </div>
      }
    }
  </div>

</mat-drawer-container>
