.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  grid-gap: 10px;
  padding: 10px;
}

.product-card {
  width: 100%;
  box-sizing: border-box;
  /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);*/
  border-radius: 16px; /* Optional: Adds rounded corners */
}

.product-info {
  background: #790B78;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 100%;
}

.image-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.lbl-title {
  color: dodgerblue;
}

.lbl-price {
  color: dodgerblue;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.truncate-multiline {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
